.advantages__subtitle {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $title-text-color;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.advantages__text {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 0;
}
.advantages {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin: -15px;
  }
}
.advantages__list {
  width: 100%;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}
.advantages__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}
