.footer-section {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer-form__label {
  position: absolute;
  padding-left: 16px;
  top: 15px;
  left: 16px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__container {
  position: relative;
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.join-footer {
  @media screen and (max-width: 767px) {
    display: block;
    margin-top: 60px;
    text-align: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: inline-block;
    text-align: center;
    margin-left: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.footer-title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0;
}
.container--footer-joiner {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.container--footer--tablet {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer-div {
  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;
    margin-top: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    text-align: center;
    margin-top: 60px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.footer-form__email {
  padding: 15px 16px;
  width: 100%;
  min-height: 50px;
  background-color: #2f303a;
  color: $primary-white-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.25;
  @media screen and (min-width: 1200px) {
    min-width: 358px;
  }
}

.footer-form__email:focus + .footer-form__label,
.footer-form__email:not(:placeholder-shown) + .footer-form__label {
  opacity: 0;
}

.container--footer--address {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
