.section-box {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section-box--nopadding {
  padding-top: 0;
  padding-bottom: 94px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.section-box__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  color: $title-text-color;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}
.section-box--withbackground {
  background-color: #f5f4fa;
}
